.info-block {
  max-width: 100%;
  flex-basis: 60%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  // width: calc(100% - 8px);
  background: #fff;
  border-radius: 2px;
  padding: 18px;
  // margin: 20px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.2);

  &__title {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--border-1);
    align-items: center;

    &__user {
      position: relative;
      display: flex;
      gap: 10px;
      align-self: flex-start;

      &__list {
        position: absolute;
        top: 40px;
        left: 0px;
        background-color: #fff;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        // padding: 15px;
        width: max-content;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        // gap: 10px;

        & > .close {
          position: absolute;
          cursor: pointer;
          top: 3px;
          right: 3px;
        }

        & > ul {
          display: flex;
          flex-direction: column;

          & > li {
            display: flex;
            gap: 5px;
            align-items: center;
            padding: 10px 15px;
            // cursor: pointer;
            justify-content: space-between;
  
            // &:hover {
            //   background-color: #f8f8f6;
            // }
  
            & > .avatar {
              width: 30px;
              height: 30px;
              border-radius: 100%;
              background-color: rgb(95, 196, 95);
              color: #fff;
              display: flex;
              align-items: center;
              text-align: center;
              justify-content: center;
            }
  
            & > .name {
              display: flex;
              flex-direction: column;
              cursor: default;
              // gap: 5px;
              
              & span:nth-child(2) {
                color: var(--text-color-secondary-light);
                font-size: 12px;
              }
            }
          }
        }

        &__add {
          position: relative;
          display: flex;
          gap: 10px;
          padding: 15px;
          align-items: flex-end;

          & > span {
            cursor: pointer;
          }

          &__users {
            position: absolute;
            top: 40px;
            left: 45px;
            background-color: #fff;
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5), 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            // padding: 15px;
            width: max-content;
            display: flex;
            flex-direction: column;

            & > li {
              display: flex;
              gap: 5px;
              align-items: center;
              padding: 10px 15px;
              cursor: pointer;
    
              &:hover {
                background-color: #f8f8f6;
              }
    
              & > .avatar {
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: rgb(95, 196, 95);
                color: #fff;
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
              }
    
              & > .name {
                display: flex;
                flex-direction: column;
                // gap: 5px;
                
                & span:nth-child(2) {
                  color: var(--text-color-secondary-light);
                  font-size: 12px;
                }
              }
            }
          }

        }

      }

      &__item {
        display: flex;
        gap: 10px;

        & > .avatar {
          width: 30px;
          height: 30px;
          border-radius: 100%;
          background-color: rgb(95, 196, 95);
          color: #fff;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
        }
  
        & > .name {
          display: flex;
          flex-direction: column;
          cursor: pointer;
          // gap: 5px;
          
          & span:nth-child(2) {
            color: var(--text-color-secondary-light);
            font-size: 12px;
          }
        }

        & > span {
           cursor: pointer;
        }


      }


    }

    &__deal {
      display: flex;
      gap: 10px;

      & > .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & span:nth-child(1) {
          color: red;
        }

        & span:nth-child(2) {
          color: var(--text-color-secondary-light);
          font-size: 12px;
        }
      }

    }

    &__nitification {
      color: var(--link-active-2);
      position: relative;
    }

  }

  &__description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;

    & > span {
      color: var(--text-color-default);
    }
  }

}