.header {
  width: 100%;
  max-width: 1950px;
  padding: 0 10px;
  border-bottom: 4px solid rgb(97, 117, 225);

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {

  }

  &__nav {
    display: flex;
    // width: 100%;
    justify-content: center;
    gap: 15px;
    align-items: center;

    &__item {
      color: var(--text-color-secondary);
      font-size: 12px;
      padding: 15px;

      &.active {
        background-color: rgba(97, 117, 225, 0.2);
        margin: 10px;
        padding: 8px;
       }
    }

    // & > ul {
    //   display: flex;
    //   width: 100%;
    //   justify-content: space-between;
    //   align-items: center;

    //   & > li {
    //     color: var(--text-color-secondary);
    //     font-size: 12px;
    //     padding: 15px;

    //     &.active {
    //      background-color: rgba(97, 117, 225, 0.2);
    //      margin: 10px;
    //      padding: 8px;
    //     }
    //   }
    // }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 10px;

    & > .logo {
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
    }

    & > .name {
      
    }
  }
}