.contactsblock {
  max-width: 100%;
  flex-basis: 60%;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 8px;
  margin-right: 8px;
  // width: calc(100% - 8px);
  background: #fff;
  border-radius: 2px;
  padding: 18px;
  // margin: 20px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 2px 0 rgba(0,0,0,.2);
  flex-basis: 25%;

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    & > .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > span {
        font-size: 16px;
      }
    }

    & > .data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 15px;
      
      & > .text {
        width: 100%;
        padding-top: 10px;
        display: flex;
        gap: 15px;

        & > .span-number {
          color: var(--link-active-2);
          flex: 0 120px
        }

        & span:nth-child(2) {
          flex: 1 1;
        }

        & > .span-address {
          width: 100%;
        }
      }

      & > .icons {
        display: flex;
        gap: 10px;
      }

      &.last {
        padding-bottom: 10px;
      }
    }

    &__inputs {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-left: 15px;
      gap: 15px;

      & > input {
        width: 100%;
        padding: 5px 0px;
        border-bottom: 2px solid lightgray;
  
        &:focus {
          border-bottom: 2px solid #00b028;
          box-shadow: 0 0 2px 0 rgba(0,176,40,.1), 0 0 0 0 rgba(0,176,40,.2);
        
        }
      }

      & input:first-child {
        max-width: 120px;
        width: 100%;
      }

      & > button {
        padding: 5px;
      }
    }
  }
}
 
